@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

        

    <div class="box">

        <div class="left">
            
            <div class="video">
                <h2>
                    <a href="https://www.mb103.com/lnk.asp?o=16642&c=918277&a=413138&k=44FB016C06971DAF3EA7D33DEEC9D7F7&l=18038">
                        Using Exogenous Ketones For Fat Burning and Energy
                    </a>
                </h2>
                <iframe width="500" height="315" src="https://www.youtube.com/embed/R55IT2ZfKDQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>

        <div class="text-center">
            <div class="text">
                <h1 class="display-4">The Top Way To Enhance Weight Loss</h1>
                <p>Learn about <a href="https://www.mb103.com/lnk.asp?o=16642&c=918277&a=413138&k=44FB016C06971DAF3EA7D33DEEC9D7F7&l=18038">Enhanced Keto</a>.</p>
                <p>
                    There is no single way to lose weight. But, there are ways that you can lose weight faster. Nobody wants to waste their time using exercises and diets with slow gains. You want something that can get you fast results.
                    The answer is <a href="https://www.mb103.com/lnk.asp?o=16642&c=918277&a=413138&k=44FB016C06971DAF3EA7D33DEEC9D7F7&l=18038">Enhanced Keto.</a> This new #1 supplement promises to give you safe, natural, and effective fat burning to help you reach your weight loss goal. But how does the supplement work?
                </p>
                <p>The <a href="https://www.mb103.com/lnk.asp?o=16642&c=918277&a=413138&k=44FB016C06971DAF3EA7D33DEEC9D7F7&l=18038">Enhanced Keto Diet Pills</a> are the newest weight loss option on the market. These pills aim to get you fast fat burning alongside using the breakthrough ketogenic diet. If you don't already know how this diet works, it aims to convert your fat into an efficient energy source so that you can burn your fat at an even faster rate. So, if you are ready to try Enhanced Keto Weight Loss, Click the Banner Below!</p>
                <a href="https://www.mb103.com/lnk.asp?o=16642&c=918277&a=413138&k=44FB016C06971DAF3EA7D33DEEC9D7F7&l=18038">
                    <img src="~/Images/KetoLogo.png" />
                </a>
                <h2>Not Sold Yet?</h2>
                <p>Enhancing your diet doesn't have to be nearly as difficult as people make it out to be. With a high-quality keto pill. you could get the diet boost that you need.</p>
                <h3>These supplements will help with:</h3>
                <ul>
                    <li>
                        Reach Your Prime Weight
                    </li>
                    <li>
                        Enhance Weight Loss
                    </li>
                    <li>
                        Boost Fat Burning
                    </li>
                    <li>
                        Support Ketosis
                    </li>
                    <li>
                        Use Natural Ingredients
                    </li>
                    <li>
                        Increased Confidence
                    </li>
                </ul>

                <a href="https://www.mb103.com/lnk.asp?o=16642&c=918277&a=413138&k=44FB016C06971DAF3EA7D33DEEC9D7F7&l=18038">
                    <img src="~/Images/KetoLogo.png" />
                </a>
                <h3>Get The Most Out Of Your Weight Loss</h3>
                <p>Without a proper ketogenic diet, you aren't going to get into ketosis (the state of burning fat for energy). Here are a few tops to use alongside the <a href="https://www.mb103.com/lnk.asp?o=16642&c=918277&a=413138&k=44FB016C06971DAF3EA7D33DEEC9D7F7&l=18038">Enhanced Keto Supplement</a> to help you get the best possible results.</p>
                <ol>
                    <li>
                        <strong>Set Goals</strong> - Figure out where you want your goal weight to be. Make it reasonable and write it down. After you meet your goal, make another!
                    </li>
                    <li>
                        <strong>Keto Diet</strong> - To get your best results, you are going to need a proper keto diet. Aim for 70% fat, 25% protien, and 5% carbs to get into ketosis.
                    </li>
                    <li>
                        <strong>Be Healthier</strong> - As much as you want easy weight loss, you should want your healthiest bodym and to get that, you need to eat healthy and exercise.
                    </li>
                </ol>
                <h3>What's it made of?</h3>

                <p>The Enhanced Keto Ingredients contain beta-hydroxybutyrate (BHB) ketones. During ketosis your body naturally priduces ketones that help you convert your extra fat into an energy source. Without ketones, ketosis wouldn't work. By using BHB ketones, they could replicate the effects that ketones have. By adding even more, you could achieve even better results. These keytones could work to convert more fat at a faster pace. So, you could hope for faster weight loss and more energy. To experience the Enhanced Keto Pills for yourself, follow this <a href="https://www.mb103.com/lnk.asp?o=16642&c=918277&a=413138&k=44FB016C06971DAF3EA7D33DEEC9D7F7&l=18038">Link.</a></p>
                <a href="https://www.mb103.com/lnk.asp?o=16642&c=918277&a=413138&k=44FB016C06971DAF3EA7D33DEEC9D7F7&l=18038">
                    <img src="~/Images/KetoLogo.png" />
                </a>
            </div>

        </div>
    </div>

    <div class="footer">
        ©EnhancedKeto 2018-2019
    </div>

